POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_DB=app

# URL для подключения к БД из приложения (внутри Docker)
DATABASE_URL="postgresql+psycopg://user:password@db:5432/app"

# URL для подключения к тестовой БД
TEST_DATABASE_URL="postgresql+psycopg://user:password@db:5432/test_app"
